<div class="container-fluid">  
    <center>
      <div class="row">        
        <img class="center" src="assets/images/the-ultimate-hamburger.jpg" alt="Burger Img">
        <div class="jumbotron">
          <h1>Eat Da Burger!</h1>      
          <p>Choose a Burger from the list. Then devour it. <br> 
          Don't see a burger you like? Enter a Burger of your choice to the list using the submit form below. The list on the left keeps track of what you devoured.</p> 
        </div>
      </div>
    </center>
    <hr>
    <section>   
      <div class="row">     
        <!-- Left side (Burgers Available).  This is what is stored in the Database
         and also what is added dynamically -->
         <div class="col-md-5 padding-left">
            <h3 class="text-center submitFont">Hamburgers Available</h3>
            <div id="burgersAvailable">

              <!-- Dynamically Add User Burgers Here -->              
              <form>
                <div class="input-group">                  
                    <ul>
                        {{#each hamburgers}}
                        {{#unless devoured}}

                        <li class="form-control">{{id}} - {{burger_name}}</li>

                        <span class="input-group-btn">
                        <button class="eatburger btn btn-success" id="eatbutton" data-id="{{this.id}}" 
                          data-newDevoured="{{devour}}" type="submit">Devour It!</button>
                        </span>
                        {{/unless}}
                        {{/each}}
                    </ul>                 
                </div>
              </form>
            </div>
        </div>        

        <!-- Right side (Burgers Devoured) -->        
        <div class="col-md-5 padding-left">
          <h3 class="text-center submitFont">Burgers Devoured</h3>
          <div id="alreadyEaten">

            <!-- Dynamically Insert Devoured Burgers Here -->
            <form class="eatburger" action="hamburger/updateOne/{{id}}" method="PUT"></form>
              <div class="input-group">
                <ul>
                  {{#each hamburgers}}
                    {{#if this.devoured}}
                      
                        <li class="form-control">{{this.id}}. {{this.burger_name}}</li>
                        
                    {{/if}}
                  {{/each}}                 
                </ul>               
              </div>
            </form>
          </div>
        </div>       
      </div>
    </section>   
    <br>
    <br>
        
        <!-- Input New Burgers Form -->
        <!-- These new hamburgers will be deposited into the Hamburger Available section  -->
    <form class="create-form">       
        <div class="row">
          <!-- Empty Div to help center textarea -->
            <div class="col-md-3"></div> 

                  <!-- Burger Input Box -->
            <div class="form-group col-md-6">
                <center><label for="newburger" class="submitFont">Request a new burger!</label></center>                
                 <textarea class="form-control" type="text" columns="6" rows="1" id="newburger" value="" name="burger_name">
                </textarea>                
             </div>
                          
            <div class="col-md-3"></div> 
        </div>          
        <!-- Submit Button -->
        <center>         
          <button type="submit" class="btn btn-danger" id="addburger">Make my Burger!
            <span class="fa fa-thumbs-up"></span>
          </button>
        </center>
      </form>
      <br>
</div>
<footer >
  <p><small>
    &copy; 2020 Wendy Hintzen's Hamburger App.
    </small></p>
        
</footer>